.main {
    padding: 30px 15px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    overflow-x: auto;
}
.main h2 {
    padding: 20px 20px;
    margin: 0;
    line-height: 1.4;
}
.main p {
    margin: 0;
    margin-bottom: 15px;
    line-height: 1.5;
    color: #333;
    font-size: 16px;
}
.main table {
    margin-bottom: 15px;
    color: #333;
}
<<<<<<< HEAD
.main .button {
    display: inline-block;
    background: #BC9467;
    text-align: center;
    padding: 12px 40px;
    border-radius: 60px;
    color: #fff;
    box-sizing: border-box;
    transition: 0.3s;
    font-weight: bold;
    line-height: 1;
    font-size: 16px;
    border: 1px solid transparent;
}
.main .button:hover {
    background: none;
    border: 1px solid #BC9467;
    color: #333;
}
=======

.main a {
  display: inline-block;
  background-color: blue;
  color: rgb(173, 10, 10);
  padding: 2.75rem 1rem;
  border-radius: 0.5rem;
  font-weight: 700;
  transition: 0.4s;
  width: 200px;
  height: 70px;
}


>>>>>>> e432e0cda2de4cdf05f7066df0e91c253926e088
@media (max-width: 576px) {
    .main h2{
        padding: 20 10px;
    }
}