.teg__section {
    width: 100%;
    min-height: 50px;
    background: #fff;
    display: flex;
    align-items: center;
    padding: 5px;
}
.teg__item {
    display: inline-block;
    font-weight: bold;
    font-size: 18px;
    margin-right: 10px;
    position: relative;
    padding: 10px;
    transition: 0.3s;
}
.teg__item:hover {
    cursor: pointer;
    background: #eee;
    border-radius: 5px;
}
.teg__close {
    display: none;
    width: 20px;
    position: absolute;
    top: -8px;
    right: -8px;
    transition: 0.3s;
}
.teg__item:hover .teg__close {
    display: block;
    cursor: pointer;
}